[Unit]
Description=HDHomeRun RECORD engine
After=syslog.target network.target
Documentation=man:hdhomerun_record(8)

[Service]
Type=forking
WorkingDirectory=/var/lib/hdhr
ExecStart=/usr/bin/hdhomerun_record start --conf /etc/hdhomerun.conf
ExecStop=/usr/bin/hdhomerun_record stop --conf /etc/hdhomerun.conf
Restart=on-failure
User=hdhr
Group=hdhr

[Install]
WantedBy=multi-user.target
