[Unit]
Description=HDHomeRun RECORD engine
After=syslog.target network.target
Documentation=man:hdhomerun_record(8)

[Service]
Type=forking
ExecStart=/usr/bin/hdhomerun_record start --conf /var/lib/hdhr/hdhomerun_record.conf
ExecStop=/usr/bin/hdhomerun_record stop --conf /var/lib/hdhr/hdhomerun_record.conf
Restart=on-failure
User=hdhr
Group=hdhr

[Install]
WantedBy=multi-user.target
