#!/bin/sh

# Make sure this script fails if any unexpected errors happen
set -e
test $DEBIAN_SCRIPT_DEBUG && set -v -x

# Load debconf library
. /usr/share/debconf/confmodule

# In which directory should recordings be stored?
db_input high hdhomerun-dvr/recordings-directory || true
db_go || true

db_stop || true
exit 0
